.navbar.navbar-minimal, .navbar.navbar-minimal .navbar-toggle {
  background: transparent;
  border: none;
}

.handwritten {
  font-family: 'Swanky and Moo Moo';
  font-weight: 400;
}
.navbar.handwritten, .navbar.handwritten .navbar-brand {
  font-size: 24px;
}
.navbar.handwritten .dropdown-menu {
  font-size: 20px;
}
#canvas-container {
  margin-top: 2em;
}
